.flexContainer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: whitesmoke;
}

.upperThird {
    flex-direction: row;
}

.middleThird {
    flex-direction: row;
}

.bottomThird {
    flex-direction: row;
}